<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title> Recettes tunisiennes </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recettes tunisiennes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let recette of recettes"
      [routerLink]="['/details', recette.id]"
    >
      <ion-avatar slot="start">
        <ion-img [src]="recette.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>{{recette.title}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
